# Derleme dosyaları
target/
*.class

# Log dosyaları
*.log

# WhatsApp Oturum ve Chrome Profil Dosyaları (KESİNLİKLE YÜKLEME)
ChromeProfile/
chrome_debug.log

# IDE ayarları
.vscode/
.idea/
*.iml
.settings/
.classpath
.project

# Sistem dosyaları
.DS_Store
Thumbs.db

jre/